.Home {
    display: flex;
    .Home__components-wrapper {
        flex: 1;
        background: url('./bg.png');
        overflow-y: scroll;
        max-height: 100vh;
    }
}


@media screen and (max-width: 800px) {
    .Home {
        display: block;
        .Home__components-wrapper {
            margin-top: 61px;
            max-height: calc(100vh - 61px);
        }
    }
}
